label{
            background-color: black;
            border: 1px solid whitesmoke;
            height: 2rem;
            padding: 0.75rem 1rem;
            border-radius: 1rem;
            width: 100%;
            color: whitesmoke;
            font-size: 1.25rem;
            font-weight: 400;
        }